<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteleme.backend.mapper.TasteMapper">

    <select id="list" resultType="com.iteleme.backend.entity.Taste">
        select * from `taste` order by `id`
    </select>

    <select id="findById" resultType="com.iteleme.backend.entity.Taste">
        select * from `taste` where `id` = #{id} limit 1
    </select>
</mapper>
