<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteleme.backend.mapper.UserMapper">

    <select id="findById" resultType="com.iteleme.backend.entity.User">
        select * from `user` where `id` = #{id}
    </select>

    <select id="findByPhone" resultType="com.iteleme.backend.entity.User">
        select * from `user` where `phone` = #{phone}
    </select>

    <select id="nextId" resultType="java.lang.Integer">
        select coalesce(max(`id`), 0) + 1 from `user`
    </select>

    <insert id="insert" parameterType="com.iteleme.backend.entity.User">
        insert into `user` (`id`, `nickname`, `password`, `phone`, `avatar`, `gender`, `role`, `status`, `current_token_hash`)
        values (#{id}, #{nickname}, #{password}, #{phone}, #{avatar}, #{gender}, #{role}, #{status}, #{currentTokenHash})
    </insert>

    <update id="update" parameterType="com.iteleme.backend.entity.User">
        update `user`
        set `nickname` = #{nickname},
            `password` = #{password},
            `phone` = #{phone},
            `avatar` = #{avatar},
            `gender` = #{gender},
            `role` = #{role},
            `status` = #{status},
            `current_token_hash` = #{currentTokenHash}
        where `id` = #{id}
    </update>
</mapper>
