<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteleme.backend.mapper.CartMapper">
    <select id="findByUserId" resultType="com.iteleme.backend.entity.Cart">
        SELECT cartId AS id, foodId, businessId, userId, quantity FROM cart
        WHERE userId = #{userId}
        <if test="businessId != null">AND businessId = #{businessId}</if>
        ORDER BY cartId
    </select>
    <delete id="deleteByFilter">
        DELETE FROM cart WHERE userId = #{userId}
        <if test="businessId != null">AND businessId = #{businessId}</if>
        <if test="foodId != null">AND foodId = #{foodId}</if>
    </delete>
</mapper>
