<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iteleme.backend.mapper.OrderMapper">

    <select id="findByUserId" resultType="com.iteleme.backend.entity.Order">
        SELECT id, user_id, business_id, order_date, order_total, address_id, order_status
        FROM orders
        WHERE user_id = #{userId}
        <if test="businessId != null">
            AND business_id = #{businessId}
        </if>
        <if test="orderState != null">
            AND order_status = #{orderState}
        </if>
        ORDER BY id DESC
    </select>
</mapper>
